@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>License Disk Renewal enables citizens of South Africa to apply for the License Disk with just the movement of a finger</p>
</div>